<h1>About</h1>
<p>Version 1.0.0</p>
<p>StoryBooks is an app to share your life </p>
<div class="grey darken-3">
<p>this website was created by :</p>
<img src="/img/e.jpg" width="75" height="100">
<a href="#"></i>Nwagbara George Chijioke pascals</a>
</div>
